%h1 Posts
.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th{width: '20%'} id
      %th{width: '50%'} rationale
      %th{width: '15%'} date
      %th{width: '15%'} user_id
      %th{width: '15%'} first_name
      %th{width: '15%'} last_name

  %tbody
    = render @posts

