%h1 Posts
.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th{width: '10%'} id
      %th{width: '40%'} rationale
      %th{width: '10%'} date
      %th{width: '10%'} user_id
      %th{width: '15%'} user_name
      %th{width: '15%'}

  %tbody
    = render @posts

