%h1 Posts
.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th{width: '10%'} id
      %th{width: '40%'} rationale
      %th{width: '20%'} date
      %th{width: '10%'} user_id
      %th{width: '20%'} user_name

  %tbody
    = render @posts

